[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/datacobra/hugo-vitae.git
	branch = redesign
[submodule "public"]
	path = public
	url = https://github.com/jobcespedes/jobcespedes.github.io.git
	branch = master
